<a class="{{ model.className }}-toggle js-toggle" href="#" title="${ __('measureDistancesAndAreas') }">${ __('measure') }</a>
<div class="{{ model.className }}-interaction js-interaction">
  <div class="js-startprompt startprompt">
    <h4>${ __('measureDistancesAndAreas') }</h4>
    <ul class="tasks">
      <a href="#" class="js-start-linear start">${ __('createNewLinearMeasurement') }</a>
      <a href="#" class="js-start-area start">${ __('createNewAreaMeasurement') }</a>
    </ul>
  </div>
  <div class="js-measuringprompt">
    <h4>${ __('measureDistancesAndAreas') }</h4>
    <p class="js-starthelp">${ __('startCreating') }</p>
    <div class="js-results results"></div>
    <ul class="js-measuretasks tasks">
      <li><a href="#" class="js-cancel cancel">${ __('cancel') }</a></li>
      <li><a href="#" class="js-finish finish">${ __('finishMeasurement') }</a></li>
    </ul>
  </div>
</div>
